<ul class="posts_list">
  <div class="posts_title_bar">
    <% if current_user %>
      <%= button_to '☑ New Post', new_post_path, :class => "new_post_button", :method => :get %>
      <% else %>
      <%= button_to 'Log In', login_path, :class => "new_post_button", :method => :get %>
    <% end %>
  </div>

  <div class="form">
    <h3 class="text">Submit a Post</h3>
    <hr>
    <form action="/posts" class="new_post" method="post">
      <%= token_tag %>
      <div class="post_title_div">
        <label class="text" for="post_title">Title:</label>
        <br>
        <input class="form_title text" type="text" id="post_title" name="post[title]" placeholder="What is the title?">
        <br>
        <label class="text" for="post_title">Name:</label>
        <br>
        <input class="form_title text" type="text" id="post_author" name="post[name]" value="<%= current_user.name %>" readonly>
      </div>
      <div class="post_message_div">
        <label class="text" for="post_message">Post:</label>
        <br>
        <textarea class="form_message text" type="text" id="post_message" name="post[message]"></textarea>
        <input type="hidden" name="post[user_id]" value="<%= current_user.id %>">
        </div>
        <br>
        <button type="submit" name="commit">Submit</button>
    </form>
  </div>

  <div class="posts">

    <% @posts.each do |post| %>
    <li class="post">
      <h3 class="post_title text"><%= post.title %></h3>
      <div class="post_message text">
        <p><%= post.message %></p>
      </div>
      <p class="post_date text">
        Posted <%= post.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%B %e, %Y @ %l:%M %p') %> by
        <% @users.each do |user| %>
          <% if user.id == post.user_id %>
            <%= user.name %>
          <% end %>
        <% end %>
      </p>
      <% if current_user %>
        <% if post.user_id == current_user.id %>
          <ul class="buttons">
            <li><%= button_to "Edit", edit_post_path(post), :class => "edit_post_button", :method => :get %></li>
            <li><%= button_to "X", post_path(post), :class => "i", :method => :delete %></li>
          </ul>
        <% end %>
      <% end %>
    </li>
    <% end %>
  </div>
</ul>
